* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Oswald", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    margin: auto 100px;
    height: 110px;
}

.menu-logo {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
}

.menu-ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style-type: none;
    font-size: 24px;
    font-weight: 300;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1494415859740-21e878dd929d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80); 
    background-size: 100% 812px;
    height: 812px;
}

.home-text{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
}

.home-line{
    width: 80px;
    height: 10px;
    background-color: #817070;
}

#story{
    background-color: #FFFFFF;
}

.story-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.story-image{
    background-image: url(https://images.unsplash.com/photo-1507915135761-41a0a222c709?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
    width: 600px;
    height: 400px;
    background-size: 600px 400px;
}

.story-text{
    width: 597px;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
}

#blog{
    background-color: #EFEFEF;
}

.blog-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-bottom: 20px;
    width: 365px;
    height: 474px;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-header{
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    color: #000000;
    width: 325px;
}

.blog-image{
    background-size: 325px 216px;
    width: 325px;
    height: 216px;
}

#blog-news{
    background-image: url(https://images.unsplash.com/photo-1455470956270-4cbb357f7052?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

#blog-chains{
    background-image: url(https://images.unsplash.com/photo-1442512595331-e89e73853f31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

#blog-startup{
    background-image: url(https://images.unsplash.com/photo-1461988091159-192b6df7054f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80);
}

.blog-text{
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    width: 325px;
}

#mail{
    background-color: #817070;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.mail-subscribe{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

.mail-input{
    border: 3px solid #FFFFFF;
    width: 300px;
    height: 40px;
    color: #FFFFFF;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    padding-top: 9px;
}

.mail-submit{
    background-color: #FFFFFF;
    color: #817070;
    padding: 13px 34px;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.footer{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    background-color: #FFFFFF;
    padding-top: 20px;
    height: 52px;
}

.header{
    text-align: center;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px auto 60px auto;
}

.content{
    padding: 60px 100px;
}